.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--bg-inverted-color);
    transition: all .3s;
}


.menu {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

.collapsed {
    width: var(--sidebar-collapsed-width);
    transition: all .3s;

    .switchers { 
        flex-direction: column;
    }
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
