// ### Светлая тема: 
.app.light {
    --bg-color: #FFF;
    --bg-inverted-color:#343A40;
    --primary-color: #007BFF;
    --secondary-color: #6C757D;
    --primary-btn-color: var(--orange-color);
}
